{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}
Coza Store | Home
{% endblock title %}

{% block content %}

<br><br><br>
<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Home /</a>
        <a class="text-white" href="{% url 'collections' %}"> Collections /</a>
        <a class="text-white" href="{% url 'collectionsview' category.slug %}"> {{ category.name }} </a>
    </div>
</div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h3> {{ category.name }} </h3>
                <hr>
                <div class="row">
                    {% for item in products %}
                    <div class="col-md-3 product_data">
                        <div class="card mb-3">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="card-body">
                                    <div class="category-image">
                                        <img src="{{ item.product_image.url }}" alt="Product image" width="246px" height="250px" class="w-100" />
                                    </div>
                                    <h4 class="text-center mt-2 proname"> {{ item.name }} </h4>
                                    <span class="float-left text-secondary mt-1"> <s>₹ {{ item.original_price | stringformat:'d' }}</s> </span>
                                    <span class="float-right text-secondary mt-1"> <b>₹ {{ item.selling_price | stringformat:'d' }}</b> </span>
                                    <br>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ item.id }}" class="prod_id">
                                            <div class="input-group text-center mb-3">
                                                <!-- <button class=" input-group-text decrement-btn">-</button> -->
                                                <button class="input-group-text decrement-btn quantity-left-minus btn btn-danger btn-number">-</button>
                                                <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
                                                <button class="quantity-right-plus btn btn-success btn-number input-group-text increment-btn">+</button>
                                                <!-- <button class="input-group-text increment-btn">+</button> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6 px-0">
                                            <span class="mb-2">
                                                {% if item.quantity > 0 %}
                                                    <button type="button" class="btn btn-primary btn-sm mr-3 py-2 addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                                {% else %}
                                                    <button type="button" class="btn btn-danger mr-3 py-2 btn-sm disabled">Out of Stock</button>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
<script>
    $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
        e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-b2');
            $(this).off('click');
        });
    });

    $('.js-addwish-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-detail');
            $(this).off('click');
        });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}